
<header th:fragment="myheader">
    <!-- Header, menu as a fragment in fragment/header.html -->
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/product/">ProductList</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="active"><a href="/product/">Home</a></li>
                <li><a href="/product/seedProduct">Seed Product</a></li>
                <li><a href="/product/addProduct">Add new Product</a></li>
                <li><a href="/product/seedCategory">Seed Category</a></li>
                <li><a href="/product/addCategory">Add new Category</a></li>
            </ul>
        </div>
    </nav>
</header>
